.shell {
  min-height: 100vh;
  display: flex;
  background: var(--color-background);
}

.main {
  margin-left: 260px;
  width: calc(100% - 260px);
  padding: var(--space-8);
}

@media (max-width: 700px) {
  .main {
    margin-left: 76px;
    width: calc(100% - 76px);
    padding: var(--space-4);
  }
}
